node2.json
[
    {
        "id": "369c644a082c61ae",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e917a41681ed897",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil7(15cm)",
        "topic": "soil13",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "54cf41f7f56ebaa1",
                "51e22a2b88a9fe82"
            ]
        ]
    },
    {
        "id": "62d700357abcdd64",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil7(30cm)",
        "topic": "soil14",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "9b03ec5140fbcbbf",
                "d5728cb32f83f0f3"
            ]
        ]
    },
    {
        "id": "7cf890e729b12a45",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil8(15cm)",
        "topic": "soil15",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "a39a02bd99f33b7a",
                "427c06afa3c39353"
            ]
        ]
    },
    {
        "id": "9ffeb2cdfe898c71",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil8(30cm)",
        "topic": "soil16",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "de9183884f2ab650",
                "3695b9a2af97a229"
            ]
        ]
    },
    {
        "id": "da5355eca1eb226e",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil9(15cm)",
        "topic": "soil17",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "be57d7834e000718",
                "6548a85831b87cdb"
            ]
        ]
    },
    {
        "id": "6c730a9d59d384b2",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil9(30cm)",
        "topic": "soil18",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "37bc2e779ad2f279",
                "e3baaf2ed67f9469"
            ]
        ]
    },
    {
        "id": "b8857f6cada846a7",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil10(15cm)",
        "topic": "soil19",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "a2c493324c6ed9a8",
                "ac39067f5e1a0cc3"
            ]
        ]
    },
    {
        "id": "7cbac5fce9c0bf10",
        "type": "mqtt in",
        "z": "369c644a082c61ae",
        "name": "soil10(30cm)",
        "topic": "soil20",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "ea306b19cfd75759",
                "b3c4302fda9a499a"
            ]
        ]
    },
    {
        "id": "54cf41f7f56ebaa1",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 8,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil7(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "9b03ec5140fbcbbf",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 10,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil7(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "a39a02bd99f33b7a",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 9,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil8(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "de9183884f2ab650",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 11,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil8(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "be57d7834e000718",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 24,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil9(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "37bc2e779ad2f279",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 26,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil9(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2c493324c6ed9a8",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 25,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil10(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "ea306b19cfd75759",
        "type": "ui_level",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "order": 27,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil10(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "427c06afa3c39353",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil7",
        "func": "msg.topic='soil8(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "c1421599bd9f275c"
            ]
        ]
    },
    {
        "id": "3695b9a2af97a229",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil8",
        "func": "msg.topic='soil8(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "c1421599bd9f275c"
            ]
        ]
    },
    {
        "id": "6548a85831b87cdb",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil9",
        "func": "msg.topic='soil9(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "acd9d7cbbacdc6ab"
            ]
        ]
    },
    {
        "id": "e3baaf2ed67f9469",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil10",
        "func": "msg.topic='soil9(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "acd9d7cbbacdc6ab"
            ]
        ]
    },
    {
        "id": "ac39067f5e1a0cc3",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil11",
        "func": "msg.topic='soil10(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "acd9d7cbbacdc6ab"
            ]
        ]
    },
    {
        "id": "b3c4302fda9a499a",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil12",
        "func": "msg.topic='soil10(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "acd9d7cbbacdc6ab"
            ]
        ]
    },
    {
        "id": "acd9d7cbbacdc6ab",
        "type": "ui_chart",
        "z": "369c644a082c61ae",
        "name": "",
        "group": "e1ffcc2aad655bd7",
        "order": 23,
        "width": 12,
        "height": 7,
        "label": "soil9/10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d5728cb32f83f0f3",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil6",
        "func": "msg.topic='soil7(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "c1421599bd9f275c"
            ]
        ]
    },
    {
        "id": "51e22a2b88a9fe82",
        "type": "function",
        "z": "369c644a082c61ae",
        "name": "soil5",
        "func": "msg.topic='soil7(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "c1421599bd9f275c"
            ]
        ]
    },
    {
        "id": "c1421599bd9f275c",
        "type": "ui_chart",
        "z": "369c644a082c61ae",
        "name": "",
        "group": "e1ffcc2aad655bd7",
        "order": 5,
        "width": 12,
        "height": 7,
        "label": "soil7/8",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c7678f0eea31f3f6",
        "type": "ui_media",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 3,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 180,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "384291e7103220d9",
        "type": "ui_media",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 21,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 180,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "549df815bc696586",
        "type": "ui_media",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 1,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 320,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "897fdbfbfbee1a57",
        "type": "ui_media",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 19,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 320,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "441f94af187d7160",
        "type": "ui_media",
        "z": "369c644a082c61ae",
        "group": "e1ffcc2aad655bd7",
        "name": "line",
        "width": 26,
        "height": 1,
        "order": 16,
        "category": "line",
        "file": "เส้น.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 170,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0f8967b1a443d7d9",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "9b7d2d67f20d17f6",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "81a107723c79986e",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "23f5f8dabce91fd2",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "a9ec7c9f378d3201",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 12,
        "width": 12,
        "height": 1
    },
    {
        "id": "27f152443846d28e",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "2be20b4d1e907d39",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 14,
        "width": 15,
        "height": 1
    },
    {
        "id": "ad2bc8d55072a223",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1841238f5ac3e57",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "890f86e37a4b65ca",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 18,
        "width": 28,
        "height": 1
    },
    {
        "id": "9015592ffd371389",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "53fdc10ed5ae5e65",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 22,
        "width": 3,
        "height": 1
    },
    {
        "id": "1cd9689362ea8575",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 28,
        "width": 3,
        "height": 1
    },
    {
        "id": "133d74900861a101",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 29,
        "width": 15,
        "height": 1
    },
    {
        "id": "9b9a086763e39197",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 30,
        "width": 3,
        "height": 1
    },
    {
        "id": "747a448cf83e55c4",
        "type": "ui_spacer",
        "z": "369c644a082c61ae",
        "name": "spacer",
        "group": "e1ffcc2aad655bd7",
        "order": 31,
        "width": 15,
        "height": 1
    },
    {
        "id": "6f7d198b3ae7d0d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1ffcc2aad655bd7",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "b1ccf2f1ee96e03d",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1ccf2f1ee96e03d",
        "type": "ui_tab",
        "name": "Sensor2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]